.product-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background: #f5f5f5;
  border-radius: 8px;
  align-items: center;

  .actions button {
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .edit-btn {
    background: #ffc107;
  }
  .edit-btn:hover {
    background: #e0a800;
  }

  .delete-btn {
    background: #dc3545;
    color: #fff;
  }
  .delete-btn:hover {
    background: #b02a37;
  }
}
