/* Reset simples e fonte */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
}

/* index.css */
body {
  background-color: #f0f2f5;
  display: flex;
  justify-content: center; /* centraliza horizontal */
  align-items: flex-start; /* inicia do topo */
  min-height: 100vh;
  padding-top: 50px;
}


h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.app-container {
  width: 90%;
  max-width: 900px;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

.toggle-btn {
  margin: 15px 0;
  padding: 10px 20px;
  background: #0077ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.toggle-btn:hover {
  background: #005fcc;
}
